
@{
    ViewData["Title"] = "Reglasdeprioridad";
}

<h1>Reglasdeprioridad</h1>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla de regla de prioridad</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        tr:hover {
            background-color: #f1f1f1;
        }
    </style>
</head>
<body>
    <h1>Reglas de prioridad</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Regla de prioridad</th>
                <th>Descripción</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Alta</td>
                <td>Artículos como serian alimentos y de consumo diario o con fechas de expiración cortas</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
